body {
  font-family: Arial, sans-serif;
}
h1 {
  text-align: center;
}
.container {
  margin: 20px auto;
  max-width: 400px;
}
.task-list {
  list-style-type: none;
  padding: 0;
}
.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.task-item input[type="checkbox"] {
  margin-right: 10px;
}
.task-item.completed label {
  text-decoration: line-through;
  opacity: 0.6;
}
.task-item .deadline {
  margin-left: auto;
  color: #999;
}
.add-task-form {
  display: flex;
}
.add-task-form input[type="text"] {
  flex: 1;
  padding: 5px;
}
.add-task-form button {
  background-color: #4CAF50;
  color: white;
  border: 1px;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
  margin-left: 2rem;
}
.delete-task {
  border:5px;
  padding: 5px 10px;
  margin-left:1rem;
  background-color: #f00707;
  border-radius: 5px;
  
  cursor: pointer;
}
.filter-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.filter-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}
.filter-button.active {
  background-color: #4CAF50;
}